<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amy Lee Projects</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
    {% set css %} {% include "index.css" %} {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    <header class="header">
      <section class="header__title">
        <h1 class="header__name">Amy Lee</h1>
        <h2 class="header__roles">Audio Producer | Cutey</h2>
      </section>
      <section class="header__contacts">
        <a href="mailto:amylee4@gmail.com">amylee4@gmail.com</a>
        <a href="tel:amylee4@gmail.com">123456 456</a>
      </section>
    </header>
    <main>
      <h2 class="main__heading">Professional</h2>
      {%- for post in collections.professional -%}
      <section class="section">
        <header class="section__header">
          <h2 class="section__title">{{ post.data.title }}</h2>
        </header>
        <section class="section__main">
          <div class="header__col">{{ post.templateContent | safe }}</div>
          <iframe
            class="header__col"
            src="https://open.spotify.com/embed/playlist/{{
              post.data.playlist_id
            }}"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true"
            allow="encrypted-media"
          ></iframe>
          {% if post.data.video_id %}
          <iframe
            class="header__col"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/{{ post.data.video_id }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            origin="http://localhost:8080/"
          ></iframe>
          {% else %}
          <div></div>
          {% endif %}
        </section>
      </section>
      {%- endfor -%}
      <section>
        <h2 class="main__heading">Personal</h2>
        {%- for post in collections.personal -%}
        <section class="section">
          <header class="section__header">
            <h2 class="section__title">{{ post.data.title }}</h2>
          </header>
          <section class="section__main">
            <div class="header__col">{{ post.templateContent | safe }}</div>
            <iframe
              class="header__col"
              src="https://open.spotify.com/embed/playlist/{{
                post.data.playlist_id
              }}"
              width="300"
              height="380"
              frameborder="0"
              allowtransparency="true"
              allow="encrypted-media"
            ></iframe>
            {% if post.data.video_id %}
            <iframe
              class="header__col"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/{{ post.data.video_id }}"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              origin="http://localhost:8080/"
            ></iframe>
            {% else %}
            <div></div>
            {% endif %}
          </section>
        </section>
        {%- endfor -%}
      </section>
    </main>
  </body>
</html>
